label.hideInput {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	white-space: nowrap;
	margin-bottom: 0;
	cursor: pointer;
}

.hideInput input {
	visibility: hidden;
	height: 0;
}


ul.nav a:hover{
	background-color: #ddd;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
	box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}

#add-files, #list-files, #doc-content{
	display: none;
}

i.file-icon{
	float: left;
}

a.delete{
	float: right;
}

